.nav{
    width: 100%;
    height: 10%;
    color: white;
    background-color: blue;
    display: flex;
    font-size: xx-large;
    display: flex;
    align-items: center;
}
.parent{
    display: flex;
}