.nav{
    width: 100%;
    height: 10%;
    color: white;
    background-color: blue;
    display: flex;
    font-size: xx-large;
    display: flex;
    align-items: center;
}
.inputtext{
    display: flex;
}
i{
    margin-left: 50px;
    font-weight: 500;
}
.bottom{
    height:55%;
    width: 40%;
    border: 1px solid #dcdcdc;
    border-radius: 10px;
    margin: 50px;
    margin-left: 30%;
    background-color: white;
}
#log{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    font-size:30px;
    font-weight: 600;
}
label{
    margin: 5px;
    margin-left: 20px;
}
.input{
    margin:5px;
    margin-left:20px ;
    width: 90%;
    border-radius: 5px;
}
input{
    margin-left: 20px;
    margin-top: 10px;
}
.a1{
    margin-left: 150px;
    font-size: large;
}
p{
   margin: 20px;
}
hr{
    margin: 10px;
}

button{
    margin: 10px;
    width: 90%;
    margin-left: 20px;
    border-radius: 5px;
    background-color: blue;
    color: white;
}
