.nav{
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  color: white;
  font-size: xx-large;
  background-color: rgb(54, 53, 53);
}
#admin{
  margin-left: 20px;
  font-size: 30px;

}
#view{
    margin-left: 60%;
    font-size: 25px;
}
#logout{
  margin-left: 20px;
  font-size: 25px;
}
.t1{
    width: 100%;
    height: 20%;
    background-color: white;
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 30px;
}
button{
    height: 30px;
    font-size: large;
    background-color: blue;
    color: white;
    margin-left: 20px;
    border: 1px solid gainsboro;
    border-radius: 5px;
}