
.nav{
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  color: white;
  font-size: xx-large;
  background-color: blue;
  position:fixed;
  top: 0;
}
.search{
  font-size: large;
  margin-left: 20px;
  margin-top: 2px;
}
#cart{
  margin-left: 40%;
  font-size: 25px;
}
#admin{
  margin-left: 20px;
  font-size: 25px;

}
#logout{
  margin-left: 20px;
  font-size: 25px;
}
.top{
  width: 100%;
  height: 35%;
  background-color: rgb(20, 20, 230);
  color: white;
}
h1{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  padding-top: 50px;
  margin-top: 50px;
}
h3{
  font-size: large;

}
.text1{
  margin-left: 33%;
  padding-top: 20px;
}
.parent{
  width: 100%;
  height: 65%;
  display: flex;
}
.left{
  width: 30%;
  height: 100%;
  background-color:white;
  padding-left: 20px;
  overflow: auto;
}
form{
  border: 2px solid gainsboro;
  margin-top: 80px;
  margin: 10px;
  margin-left: 10px;
  margin-right: 5px;
  padding: 20px;

}
.right {
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
  background-color:whitesmoke;
} 

.child {
  background: white;
  border-radius: 12px;
  padding: 15px;
  text-align: center;

}

.child img {
  width: 100%;
  height: 220px;
  object-fit: contain;
  margin-bottom: 10px;
 }
 .b1{
  background-color: white;
  color: blue;
  margin-right: 20px;
  font-size: x-large;
  border: 1px solid blue;
  border-radius: 4px;

 }
